<!--Background is the entire background for the website everything is inside of it-->
<div class="background">
  <!--header background is the background for the header-->
  <div class="header-background">
    <!--the spacer is simply just to make space btween the other divs-->
    <div class="spacer"></div>
    <!--the header contains the head title-->
    <div class="header">
      <h1>{{title}}</h1>
    </div>
  </div>
  <div class="padding"></div>
  <div class="input-background">
    <div class="padding">
      <input type="text">
    </div>
    <div class="padding">
      <input type="text">
    </div>
    <div class="padding">
      <button>Calculate</button>
    </div>
    <div class="padding">
      <input type="solution">
    </div>
  </div>
</div>


<router-outlet></router-outlet>
