
table, th,
tr, td{
    border: 1px solid black;
    border-collapse: collapse;
    font-family: Arial;
}

.background{
    margin-top: -50px;
    margin-left: -10px;
    background-color: rgb(187, 187, 187);
    width: 102%;
    height: 700px;
    text-align: center;
}

.form-container{
    margin: auto;
    width: 50%;
    padding-top: 100px;
    padding-bottom: 20px;
    background-color: rgba(255, 246, 204, 0.664);
}

.table-container{
    margin: auto;
    width: 50%;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.158);
}

.form{
    margin: auto;
    text-align: left;
    width: 50%;
    background-color: rgba(219, 173, 164, 0.301);
}
