<table>
    <thead>
      <tr>
        <td><div class="isoPlaceholder"></div></td>
        <td><div class="number-element"><h2>1</h2></div></td>
        <td><div class="number-element"><h2>2</h2></div></td>
        <td><div class="number-element"><h2>3</h2></div></td>
        <td><div class="number-element"><h2>4</h2></div></td>
        <td><div class="number-element"><h2>5</h2></div></td>
        <td><div class="number-element"><h2>6</h2></div></td>
        <td><div class="number-element"><h2>7</h2></div></td>
        <td><div class="number-element"><h2>8</h2></div></td>
        <td><div class="number-element"><h2>9</h2></div></td>
        <td><div class="number-element"><h2>10</h2></div></td>
        <td><div class="number-element"><h2>11</h2></div></td>
        <td><div class="number-element"><h2>12</h2></div></td>
        <td><div class="number-element"><h2>13</h2></div></td>
        <td><div class="number-element"><h2>14</h2></div></td>
        <td><div class="number-element"><h2>15</h2></div></td>
        <td><div class="number-element"><h2>16</h2></div></td>
        <td><div class="number-element"><h2>17</h2></div></td>
        <td><div class="number-element"><h2>18</h2></div></td>
      </tr>
    </thead>
    <tbody>
        <tr>
            <th><div class="number-element"><h2>1</h2></div> </th>
            <th><div>H</div></th>
            <th><div>SYM</div></th>
            <th colspan="10" rowspan="3">information about each element</th>
            <th colspan="5">spaser</th>
            <th><div>He</div></th>
        </tr>
        <tr>
            <th><div class="number-element"><h2>2</h2></div></th>
            <th><div>Li</div></th>
            <th><div>Be</div></th>
            <th><div>B</div></th>
            <th><div>C</div></th>
            <th><div>N</div></th>
            <th><div>O</div></th>
            <th><div>F</div></th>
            <th><div>Ne</div></th>
        </tr>
        <tr>
            <th><div class="number-element"><h2>3</h2></div></th>
            <th><div>Na</div></th>
            <th><div>Mg</div></th>
            <th><div>Al</div></th>
            <th><div>Si</div></th>
            <th><div>P</div></th>
            <th><div>S</div></th>
            <th><div>Cl</div></th>
            <th><div>Ar</div></th>
        </tr>
        <tr>
            <th><div class="number-element"><h2>4</h2></div></th>
            <th><div>K</div></th>
            <th><div>Ca</div></th>
            <th><div>Sc</div></th>
            <th><div>Ti</div></th>
            <th><div>V</div></th>
            <th><div>Cr</div></th>
            <th><div>Mn</div></th>
            <th><div>Fe</div></th>
            <th><div>Co</div></th>
            <th><div>Ni</div></th>
            <th><div>Cu</div></th>
            <th><div>Zn</div></th>
            <th><div>Ga</div></th>
            <th><div>Ge</div></th>
            <th><div>As</div></th>
            <th><div>Se</div></th>
            <th><div>Br</div></th>
            <th><div>Kr</div></th>
        </tr>
    </tbody>
  </table>
  