td{
    text-align: center;
}

table, th,
tr, td{
    border: 1px solid black;
    border-collapse: collapse;
    font-family: Arial;
}

.element-number{
    font-size: 9px;
}
.element-name{
    font-size: 10px;
}
.element-symbol{
    font-size: 16px;
}
.element-atomicMass{
    font-size: 8px;
}

p{
    margin: 0px;
}

div, .number-element{
    width: 50px;
    height: 50px;
    overflow: hidden;
}

div{
    text-align: start;
}

.number-element{
    margin-top: -20px;
    text-align: justify;
}

.isoPlaceholder{
    width: 50px;
    height: 50px;
}