<table>
    <thead>
      <tr>
        <td><div class="isoPlaceholder"></div></td>
        <td><div class="number-element"><h2>1</h2></div></td>
        <td><div class="number-element"><h2>2</h2></div></td>
        <td><div class="number-element"><h2>3</h2></div></td>
        <td><div class="number-element"><h2>4</h2></div></td>
        <td><div class="number-element"><h2>5</h2></div></td>
        <td><div class="number-element"><h2>6</h2></div></td>
        <td><div class="number-element"><h2>7</h2></div></td>
        <td><div class="number-element"><h2>8</h2></div></td>
        <td><div class="number-element"><h2>9</h2></div></td>
        <td><div class="number-element"><h2>10</h2></div></td>
        <td><div class="number-element"><h2>11</h2></div></td>
        <td><div class="number-element"><h2>12</h2></div></td>
        <td><div class="number-element"><h2>13</h2></div></td>
        <td><div class="number-element"><h2>14</h2></div></td>
        <td><div class="number-element"><h2>15</h2></div></td>
        <td><div class="number-element"><h2>16</h2></div></td>
        <td><div class="number-element"><h2>17</h2></div></td>
        <td><div class="number-element"><h2>18</h2></div></td>
      </tr>
    </thead>
    <tbody>
        <tr>
            <th><div class="number-element"><h2>1</h2></div> </th>
            <th><div>
                <p class="element-number">{{elements[0].number}}<p>
                <p class="element-symbol">{{elements[0].symbol}}</p>
                <p class="element-name">{{elements[0].name}}</p>
                <p class="element-atomicMass">{{elements[0].atomic_mass}}</p>
            </div></th>
            <th><div></div></th>
            <th colspan="10" rowspan="3">information about each element</th>
            <th colspan="5">spaser</th>
            <th><div>
                <p class="element-number">{{elements[1].number}}<p>
                <p class="element-symbol">{{elements[1].symbol}}</p>
                <p class="element-name">{{elements[1].name}}</p>
                <p class="element-atomicMass">{{elements[1].atomic_mass}}</p>
            </div></th>
        </tr>
        <tr>
            <th><div class="number-element"><h2>2</h2></div></th>
            <th><div>
                <p class="element-number">{{elements[2].number}}<p>
                    <p class="element-symbol">{{elements[2].symbol}}</p>
                    <p class="element-name">{{elements[2].name}}</p>
                    <p class="element-atomicMass">{{elements[2].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[3].number}}<p>
                    <p class="element-symbol">{{elements[3].symbol}}</p>
                    <p class="element-name">{{elements[3].name}}</p>
                    <p class="element-atomicMass">{{elements[3].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[4].number}}<p>
                    <p class="element-symbol">{{elements[4].symbol}}</p>
                    <p class="element-name">{{elements[4].name}}</p>
                    <p class="element-atomicMass">{{elements[4].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[5].number}}<p>
                    <p class="element-symbol">{{elements[5].symbol}}</p>
                    <p class="element-name">{{elements[5].name}}</p>
                    <p class="element-atomicMass">{{elements[5].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[6].number}}<p>
                    <p class="element-symbol">{{elements[6].symbol}}</p>
                    <p class="element-name">{{elements[6].name}}</p>
                    <p class="element-atomicMass">{{elements[6].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[7].number}}<p>
                    <p class="element-symbol">{{elements[7].symbol}}</p>
                    <p class="element-name">{{elements[7].name}}</p>
                    <p class="element-atomicMass">{{elements[7].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[8].number}}<p>
                    <p class="element-symbol">{{elements[8].symbol}}</p>
                    <p class="element-name">{{elements[8].name}}</p>
                    <p class="element-atomicMass">{{elements[8].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[9].number}}<p>
                    <p class="element-symbol">{{elements[9].symbol}}</p>
                    <p class="element-name">{{elements[9].name}}</p>
                    <p class="element-atomicMass">{{elements[9].atomic_mass}}</p>
            </div></th>
        </tr>
        <tr>
            <th><div class="number-element"><h2>3</h2></div></th>
            <th><div>
                <p class="element-number">{{elements[10].number}}<p>
                    <p class="element-symbol">{{elements[10].symbol}}</p>
                    <p class="element-name">{{elements[10].name}}</p>
                    <p class="element-atomicMass">{{elements[10].atomic_mass}}</p>
            </div></th>
            <th><div><p class="element-number">{{elements[11].number}}<p>
                <p class="element-symbol">{{elements[11].symbol}}</p>
                <p class="element-name">{{elements[11].name}}</p>
                <p class="element-atomicMass">{{elements[11].atomic_mass}}</p></div></th>
            <th><div>
                <p class="element-number">{{elements[12].number}}<p>
                <p class="element-symbol">{{elements[12].symbol}}</p>
                <p class="element-name">{{elements[12].name}}</p>
                <p class="element-atomicMass">{{elements[12].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[13].number}}<p>
                <p class="element-symbol">{{elements[13].symbol}}</p>
                <p class="element-name">{{elements[13].name}}</p>
                <p class="element-atomicMass">{{elements[13].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[14].number}}<p>
                <p class="element-symbol">{{elements[14].symbol}}</p>
                <p class="element-name">{{elements[14].name}}</p>
                <p class="element-atomicMass">{{elements[14].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[15].number}}<p>
                <p class="element-symbol">{{elements[15].symbol}}</p>
                <p class="element-name">{{elements[15].name}}</p>
                <p class="element-atomicMass">{{elements[15].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[16].number}}<p>
                <p class="element-symbol">{{elements[16].symbol}}</p>
                <p class="element-name">{{elements[16].name}}</p>
                <p class="element-atomicMass">{{elements[16].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[17].number}}<p>
                <p class="element-symbol">{{elements[17].symbol}}</p>
                <p class="element-name">{{elements[17].name}}</p>
                <p class="element-atomicMass">{{elements[17].atomic_mass}}</p>
            </div></th>
        </tr>
        <tr>
            <th><div class="number-element"><h2>4</h2></div></th>
            <th><div>
                <p class="element-number">{{elements[18].number}}<p>
                <p class="element-symbol">{{elements[18].symbol}}</p>
                <p class="element-name">{{elements[18].name}}</p>
                <p class="element-atomicMass">{{elements[18].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[19].number}}<p>
                <p class="element-symbol">{{elements[19].symbol}}</p>
                <p class="element-name">{{elements[19].name}}</p>
                <p class="element-atomicMass">{{elements[19].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[20].number}}<p>
                <p class="element-symbol">{{elements[20].symbol}}</p>
                <p class="element-name">{{elements[20].name}}</p>
                <p class="element-atomicMass">{{elements[20].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[21].number}}<p>
                <p class="element-symbol">{{elements[21].symbol}}</p>
                <p class="element-name">{{elements[21].name}}</p>
                <p class="element-atomicMass">{{elements[21].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[22].number}}<p>
                <p class="element-symbol">{{elements[22].symbol}}</p>
                <p class="element-name">{{elements[22].name}}</p>
                <p class="element-atomicMass">{{elements[22].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[23].number}}<p>
                <p class="element-symbol">{{elements[23].symbol}}</p>
                <p class="element-name">{{elements[23].name}}</p>
                <p class="element-atomicMass">{{elements[23].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[24].number}}<p>
                <p class="element-symbol">{{elements[24].symbol}}</p>
                <p class="element-name">{{elements[24].name}}</p>
                <p class="element-atomicMass">{{elements[24].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[25].number}}<p>
                <p class="element-symbol">{{elements[25].symbol}}</p>
                <p class="element-name">{{elements[25].name}}</p>
                <p class="element-atomicMass">{{elements[25].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[26].number}}<p>
                <p class="element-symbol">{{elements[26].symbol}}</p>
                <p class="element-name">{{elements[26].name}}</p>
                <p class="element-atomicMass">{{elements[26].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[27].number}}<p>
                <p class="element-symbol">{{elements[27].symbol}}</p>
                <p class="element-name">{{elements[27].name}}</p>
                <p class="element-atomicMass">{{elements[27].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[28].number}}<p>
                <p class="element-symbol">{{elements[28].symbol}}</p>
                <p class="element-name">{{elements[28].name}}</p>
                <p class="element-atomicMass">{{elements[28].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[29].number}}<p>
                <p class="element-symbol">{{elements[29].symbol}}</p>
                <p class="element-name">{{elements[29].name}}</p>
                <p class="element-atomicMass">{{elements[29].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[30].number}}<p>
                <p class="element-symbol">{{elements[30].symbol}}</p>
                <p class="element-name">{{elements[30].name}}</p>
                <p class="element-atomicMass">{{elements[30].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[31].number}}<p>
                <p class="element-symbol">{{elements[31].symbol}}</p>
                <p class="element-name">{{elements[31].name}}</p>
                <p class="element-atomicMass">{{elements[31].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[32].number}}<p>
                <p class="element-symbol">{{elements[32].symbol}}</p>
                <p class="element-name">{{elements[32].name}}</p>
                <p class="element-atomicMass">{{elements[32].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[33].number}}<p>
                <p class="element-symbol">{{elements[33].symbol}}</p>
                <p class="element-name">{{elements[33].name}}</p>
                <p class="element-atomicMass">{{elements[33].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[34].number}}<p>
                <p class="element-symbol">{{elements[34].symbol}}</p>
                <p class="element-name">{{elements[34].name}}</p>
                <p class="element-atomicMass">{{elements[34].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[35].number}}<p>
                <p class="element-symbol">{{elements[35].symbol}}</p>
                <p class="element-name">{{elements[35].name}}</p>
                <p class="element-atomicMass">{{elements[35].atomic_mass}}</p>
            </div></th>
        </tr>
        <tr>
            <th><div class="number-element"><h2>5</h2></div></th>
            <th><div>
                <p class="element-number">{{elements[36].number}}<p>
                <p class="element-symbol">{{elements[36].symbol}}</p>
                <p class="element-name">{{elements[36].name}}</p>
                <p class="element-atomicMass">{{elements[36].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[37].number}}<p>
                <p class="element-symbol">{{elements[37].symbol}}</p>
                <p class="element-name">{{elements[37].name}}</p>
                <p class="element-atomicMass">{{elements[37].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[38].number}}<p>
                <p class="element-symbol">{{elements[38].symbol}}</p>
                <p class="element-name">{{elements[38].name}}</p>
                <p class="element-atomicMass">{{elements[38].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[39].number}}<p>
                <p class="element-symbol">{{elements[39].symbol}}</p>
                <p class="element-name">{{elements[39].name}}</p>
                <p class="element-atomicMass">{{elements[39].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[40].number}}<p>
                <p class="element-symbol">{{elements[40].symbol}}</p>
                <p class="element-name">{{elements[40].name}}</p>
                <p class="element-atomicMass">{{elements[40].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[41].number}}<p>
                <p class="element-symbol">{{elements[41].symbol}}</p>
                <p class="element-name">{{elements[41].name}}</p>
                <p class="element-atomicMass">{{elements[41].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[42].number}}<p>
                <p class="element-symbol">{{elements[42].symbol}}</p>
                <p class="element-name">{{elements[42].name}}</p>
                <p class="element-atomicMass">{{elements[42].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[43].number}}<p>
                <p class="element-symbol">{{elements[43].symbol}}</p>
                <p class="element-name">{{elements[43].name}}</p>
                <p class="element-atomicMass">{{elements[43].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[44].number}}<p>
                <p class="element-symbol">{{elements[44].symbol}}</p>
                <p class="element-name">{{elements[44].name}}</p>
                <p class="element-atomicMass">{{elements[44].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[45].number}}<p>
                <p class="element-symbol">{{elements[45].symbol}}</p>
                <p class="element-name">{{elements[45].name}}</p>
                <p class="element-atomicMass">{{elements[45].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[46].number}}<p>
                <p class="element-symbol">{{elements[46].symbol}}</p>
                <p class="element-name">{{elements[46].name}}</p>
                <p class="element-atomicMass">{{elements[46].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[47].number}}<p>
                <p class="element-symbol">{{elements[47].symbol}}</p>
                <p class="element-name">{{elements[47].name}}</p>
                <p class="element-atomicMass">{{elements[47].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[48].number}}<p>
                <p class="element-symbol">{{elements[48].symbol}}</p>
                <p class="element-name">{{elements[48].name}}</p>
                <p class="element-atomicMass">{{elements[48].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[49].number}}<p>
                <p class="element-symbol">{{elements[49].symbol}}</p>
                <p class="element-name">{{elements[49].name}}</p>
                <p class="element-atomicMass">{{elements[49].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[50].number}}<p>
                <p class="element-symbol">{{elements[50].symbol}}</p>
                <p class="element-name">{{elements[50].name}}</p>
                <p class="element-atomicMass">{{elements[50].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[51].number}}<p>
                <p class="element-symbol">{{elements[51].symbol}}</p>
                <p class="element-name">{{elements[51].name}}</p>
                <p class="element-atomicMass">{{elements[51].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[52].number}}<p>
                <p class="element-symbol">{{elements[52].symbol}}</p>
                <p class="element-name">{{elements[52].name}}</p>
                <p class="element-atomicMass">{{elements[52].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[53].number}}<p>
                <p class="element-symbol">{{elements[53].symbol}}</p>
                <p class="element-name">{{elements[53].name}}</p>
                <p class="element-atomicMass">{{elements[53].atomic_mass}}</p>
            </div></th>
        </tr>
        <tr>
            <th><div class="number-element"><h2>6</h2></div></th>
            <th><div>
                <p class="element-number">{{elements[54].number}}<p>
                <p class="element-symbol">{{elements[54].symbol}}</p>
                <p class="element-name">{{elements[54].name}}</p>
                <p class="element-atomicMass">{{elements[54].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[55].number}}<p>
                <p class="element-symbol">{{elements[55].symbol}}</p>
                <p class="element-name">{{elements[55].name}}</p>
                <p class="element-atomicMass">{{elements[55].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[56].number}}<p>
                <p class="element-symbol">{{elements[56].symbol}}</p>
                <p class="element-name">{{elements[56].name}}</p>
                <p class="element-atomicMass">{{elements[56].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[57].number}}<p>
                <p class="element-symbol">{{elements[57].symbol}}</p>
                <p class="element-name">{{elements[57].name}}</p>
                <p class="element-atomicMass">{{elements[57].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[58].number}}<p>
                <p class="element-symbol">{{elements[58].symbol}}</p>
                <p class="element-name">{{elements[58].name}}</p>
                <p class="element-atomicMass">{{elements[58].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[59].number}}<p>
                <p class="element-symbol">{{elements[59].symbol}}</p>
                <p class="element-name">{{elements[59].name}}</p>
                <p class="element-atomicMass">{{elements[59].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[60].number}}<p>
                <p class="element-symbol">{{elements[60].symbol}}</p>
                <p class="element-name">{{elements[60].name}}</p>
                <p class="element-atomicMass">{{elements[60].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[61].number}}<p>
                <p class="element-symbol">{{elements[61].symbol}}</p>
                <p class="element-name">{{elements[61].name}}</p>
                <p class="element-atomicMass">{{elements[61].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[62].number}}<p>
                <p class="element-symbol">{{elements[62].symbol}}</p>
                <p class="element-name">{{elements[62].name}}</p>
                <p class="element-atomicMass">{{elements[62].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[63].number}}<p>
                <p class="element-symbol">{{elements[63].symbol}}</p>
                <p class="element-name">{{elements[63].name}}</p>
                <p class="element-atomicMass">{{elements[63].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[64].number}}<p>
                <p class="element-symbol">{{elements[64].symbol}}</p>
                <p class="element-name">{{elements[64].name}}</p>
                <p class="element-atomicMass">{{elements[64].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[65].number}}<p>
                <p class="element-symbol">{{elements[65].symbol}}</p>
                <p class="element-name">{{elements[65].name}}</p>
                <p class="element-atomicMass">{{elements[65].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[66].number}}<p>
                <p class="element-symbol">{{elements[66].symbol}}</p>
                <p class="element-name">{{elements[66].name}}</p>
                <p class="element-atomicMass">{{elements[66].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[67].number}}<p>
                <p class="element-symbol">{{elements[67].symbol}}</p>
                <p class="element-name">{{elements[67].name}}</p>
                <p class="element-atomicMass">{{elements[67].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[68].number}}<p>
                <p class="element-symbol">{{elements[68].symbol}}</p>
                <p class="element-name">{{elements[68].name}}</p>
                <p class="element-atomicMass">{{elements[68].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[69].number}}<p>
                <p class="element-symbol">{{elements[69].symbol}}</p>
                <p class="element-name">{{elements[69].name}}</p>
                <p class="element-atomicMass">{{elements[69].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[70].number}}<p>
                <p class="element-symbol">{{elements[70].symbol}}</p>
                <p class="element-name">{{elements[70].name}}</p>
                <p class="element-atomicMass">{{elements[70].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[71].number}}<p>
                <p class="element-symbol">{{elements[71].symbol}}</p>
                <p class="element-name">{{elements[71].name}}</p>
                <p class="element-atomicMass">{{elements[71].atomic_mass}}</p>
            </div></th>
        </tr>
        <tr>
            <th><div class="number-element"><h2>7</h2></div></th>
            <th><div>
                <p class="element-number">{{elements[72].number}}<p>
                <p class="element-symbol">{{elements[72].symbol}}</p>
                <p class="element-name">{{elements[72].name}}</p>
                <p class="element-atomicMass">{{elements[72].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[73].number}}<p>
                <p class="element-symbol">{{elements[73].symbol}}</p>
                <p class="element-name">{{elements[73].name}}</p>
                <p class="element-atomicMass">{{elements[73].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[74].number}}<p>
                <p class="element-symbol">{{elements[74].symbol}}</p>
                <p class="element-name">{{elements[74].name}}</p>
                <p class="element-atomicMass">{{elements[74].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[75].number}}<p>
                <p class="element-symbol">{{elements[75].symbol}}</p>
                <p class="element-name">{{elements[75].name}}</p>
                <p class="element-atomicMass">{{elements[75].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[76].number}}<p>
                <p class="element-symbol">{{elements[76].symbol}}</p>
                <p class="element-name">{{elements[76].name}}</p>
                <p class="element-atomicMass">{{elements[76].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[77].number}}<p>
                <p class="element-symbol">{{elements[77].symbol}}</p>
                <p class="element-name">{{elements[77].name}}</p>
                <p class="element-atomicMass">{{elements[77].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[78].number}}<p>
                <p class="element-symbol">{{elements[78].symbol}}</p>
                <p class="element-name">{{elements[78].name}}</p>
                <p class="element-atomicMass">{{elements[78].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[79].number}}<p>
                <p class="element-symbol">{{elements[79].symbol}}</p>
                <p class="element-name">{{elements[79].name}}</p>
                <p class="element-atomicMass">{{elements[79].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[80].number}}<p>
                <p class="element-symbol">{{elements[80].symbol}}</p>
                <p class="element-name">{{elements[80].name}}</p>
                <p class="element-atomicMass">{{elements[80].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[81].number}}<p>
                <p class="element-symbol">{{elements[81].symbol}}</p>
                <p class="element-name">{{elements[81].name}}</p>
                <p class="element-atomicMass">{{elements[81].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[82].number}}<p>
                <p class="element-symbol">{{elements[82].symbol}}</p>
                <p class="element-name">{{elements[82].name}}</p>
                <p class="element-atomicMass">{{elements[82].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[83].number}}<p>
                <p class="element-symbol">{{elements[83].symbol}}</p>
                <p class="element-name">{{elements[83].name}}</p>
                <p class="element-atomicMass">{{elements[83].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[84].number}}<p>
                <p class="element-symbol">{{elements[84].symbol}}</p>
                <p class="element-name">{{elements[84].name}}</p>
                <p class="element-atomicMass">{{elements[84].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[85].number}}<p>
                <p class="element-symbol">{{elements[85].symbol}}</p>
                <p class="element-name">{{elements[85].name}}</p>
                <p class="element-atomicMass">{{elements[85].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[86].number}}<p>
                <p class="element-symbol">{{elements[86].symbol}}</p>
                <p class="element-name">{{elements[86].name}}</p>
                <p class="element-atomicMass">{{elements[86].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[87].number}}<p>
                <p class="element-symbol">{{elements[87].symbol}}</p>
                <p class="element-name">{{elements[87].name}}</p>
                <p class="element-atomicMass">{{elements[87].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[88].number}}<p>
                <p class="element-symbol">{{elements[88].symbol}}</p>
                <p class="element-name">{{elements[88].name}}</p>
                <p class="element-atomicMass">{{elements[88].atomic_mass}}</p>
            </div></th>
            <th><div>
                <p class="element-number">{{elements[89].number}}<p>
                <p class="element-symbol">{{elements[89].symbol}}</p>
                <p class="element-name">{{elements[89].name}}</p>
                <p class="element-atomicMass">{{elements[89].atomic_mass}}</p>
            </div></th>
        </tr>
    </tbody>
  </table>
  